.weather__wrapp{

    .error{
        color: red;
       
        padding: 5px;
    }
    .weather__inf{
        margin-top: 25px;
        .temperature{
            font-size: 50px;
            font-weight: bolder;
            text-align: center;
            sup{
                font-size: 20px;
            }
        }
        .country , .location{
            text-align: center;
            font-weight: 700;
            margin: 5px;
        }
        .weather__block{
            margin-top: 25px;
            display: flex;
            margin-top: 25px;
            justify-content: space-around;
            
            .child__weath{
                margin-top: 5px;
                margin-left: 15px;
                p{  color: black;
                    font-weight: 700;
                    span{
                        color: blue;
                    }
                }
            }
        }
        .date{
            margin-top: 90px;
        }
    }

}
@media screen and (max-width:450px) {
    .weather__wrapp{
        .weather__inf{
            .weather__block{
                flex-direction: column;
                align-items: center;
                .child__weath{
                    p{
                        margin: 5px 0;
                    }

                }
            }
            .date{
                margin-top: 25px;
                
            }
        }
    }
}



